.image-home {
  width: 100%;
  /* height: ; */
}
.img-card-text {
  margin-top: -18px;
}
.ili {
  margin: 0 20px;
}
.home-img-name {
  font-weight: 540;
}
a {
  color: #fff;
}
.search-input {
  /* border: none; */
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  background-color: rgb(39, 47, 61);
  color: #fff;
  font-size: 18px;
}
*:focus {
  outline: none;
}
.home-card2-money {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.315);
  margin: 10px 0 40px 0;
}
.home-card2-money input {
  width: 100%;
  border-radius: 10px;
  height: 40px;
  font-size: 17px;
  border: none;
  display: flex;
  padding-left: 15px;
  justify-content: center;
}

.category-purchase {
  display: grid;
  grid-template-rows: 60px auto auto;
}
.category-purchase > p {
  margin: 20px 0 -20px 0;
}
.category-purchase div h2 {
  font-weight: 400;
}
.category-purchase > h4 {
  font-weight: 400;
}
.lest-property-name {
  font-weight: 500;
  margin-top: 50px ;
}
.n {
  /* grid-template-rows: ; */
  grid-row: auto;
  /* grid-template-columns: ; */
}

.tariffs-services-container {
  text-align: center;
}


.tariffs-services-container .text {
    margin-top: -18px;
}
.tariffs-services-grid{
    display: grid;
    grid-template-columns: 60% auto;
    background-color: rgb(26, 38, 70);
    margin: 30px 15%;
    padding:30px 50px ;
    color: #fff;
    text-align-last: left;
    border-radius: 15px;
}

.tariffs-services-card1  input[type=number] {
    -moz-appearance: textfield;
    width: 70%;
    height: 30px;
    border-radius: 15px;
    margin: 11px 0;
    border: none;
    padding: 2px 20px;
    font-size: 17px;
}

.service-price{
    display: flex;
    align-items: center;
    margin:  20px 0;
    justify-content: space-between;

}
.service-price input {
    height: 30px;
    border-radius: 15px;
    padding: 2px 20px;
    font-size: 17px;
    width: 100px;
    border: none;
    background-color: rgb(48, 57, 73);
}

.smile{
  margin-top: 30px;
  margin-left: 4px;
}

.company-specialists-card-img{
  position: relative;
  width: 100%;
  opacity: 1;
  background-color: rgba(41, 41, 63, 0.189);
}

.specialists-carousel-name{
  margin: 40px 0;
  font-weight: 450;
  color: #fff;
}

.carousel-back{
  position: absolute;
  left: 180px;
  display: block;
  margin-top: 120px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 124, 211);
  border: none;
  color: #fff;
  
}
.carousel-next{
  position: absolute;
  right: 180px;
  margin-top: -150px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 124, 211);
  border: none;
  color: #fff;
}
.video-card{
  height: 290px;
  border-radius: 10px;
  
}
.map-container{
  width: 50%;
  height: 500px;
}